.card-box,
.evaluate-box {
  border-radius: 20rpx;
  padding: 0rpx 20rpx;
  background: #ffffff;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin: 20rpx;
}

.evaluate-title {
  color: #262626;
  font-size: 28rpx;
  font-weight: 400;
  height: 90rpx;
  line-height: 90rpx;
  position: relative;

  &::before {
    background-color: #0974C5;
    content: "";
    position: absolute;
    border-radius: 3rpx;
    left: -20rpx;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 15px;
  }
}

.scroll_mask {
  height: 868rpx;
  // padding-bottom: 100rpx;
  overflow-y: auto;
}

.mask {
  height: 600px;
}

.card-box {
  padding-top: 0 !important;
}

.card-content {
  padding: 0 20rpx;
  // flex: 6;
}

.card-p {
  display: block;
  padding-bottom: 20rpx;
}

.card-park-free {
  background: #00a4ff;
  border: 1px solid #00a4ff;
  border-radius: 5px;
  color: #fff;
  padding: 24rpx 20rpx 24rpx 80rpx;
  .small {
    font-size: 20rpx;
  }
}

.card-title {
  flex: 1;
  // color: #262626;
  font-weight: 700;
}

.stationCard {
  text-align: left;
  padding: 0 30rpx;
  line-height: 1.5;

  &.round-top {
    padding-top: 30rpx;
    margin-top: -30rpx;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
  }

  .title {
    font-size: 32rpx;
    font-weight: 700;
    line-height: 64rpx;
    margin-bottom: 10rpx;
  }

  .time {
    font-size: 24rpx;
    color: #707070;
    margin-bottom: 10rpx;
  }

  .address {
    font-size: 24rpx;
    color: #707070;
    margin-bottom: 10rpx;
  }

  .divider {
    margin: 20rpx 0;
    height: 1rpx;
    border-bottom: 1px solid #e8e8e8;
  }

  .price {
    font-size: 48rpx;
    font-weight: 500;
    margin-right: 10rpx;
  }

  .label {
    display: inline-block;
    float: right;
    height: 40rpx;
    line-height: 38rpx;
    font-size: 20rpx;
    padding: 0 20rpx 0 55rpx;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 42rpx 100%;
    border-radius: 5px;
  }

  .label.fast {
    margin-right: 20rpx;
    border: 1px solid #00a5ff;
    background-image: url(/static/map/fast-pile-count-l.png);
  }

  .label.slow {
    border: 1px solid #ff9920;
    background-image: url(/static/map/slow-pile-count-l.png);
  }

  .bottom {
    height: 100rpx;
    position: relative;
  }
}

.gap-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 30rpx;
  margin: -28rpx 0 0;
  left: 0;
  background-color: #f7f7f7;
  border-top-left-radius: 30rpx;
  border-top-right-radius: 30rpx;
}

/* DarkMode 下的样式 start */
@media (prefers-color-scheme: dark) {
  .product-container {
    // background-image: linear-gradient(
    //   180deg,
    //   #00c4b8 12%,
    //   #015a54 29%,
    //   #121425 40%
    // );
    background-color: #121425;
  }

  .gap-line {
    background-color: #121425;
  }
  .recommend-box,
  .detail-box,
  .store-recommend,
  .store-info,
  .evaluate-box,
  .card-box,
  .group-list {
    background: #222336;
    color: #ffffff;
    box-shadow: 0 1px 5px 2px rgba(255, 255, 255, 0.05);
  }

  .store-recommend-title,
  .evaluate-title,
  .group-name {
    color: #ffffff;
  }
  .money {
    color: #ffffff;
  }
  .card-row .lable {
    color: #a9a9a9;
  }
  .card-row .content {
    color: #ffffff;
  }
  .radio-button {
    background: #f6f6f720;
  }
  .page-bottom {
    background: #222336;
    border-top: 2rpx solid #343434;
    > .icon-btn > .icon-btn-item {
      color: #ffffff;
    }
    .detail-btn > .to-scan {
      background-image: linear-gradient(230deg, #00d591 7%, #00bab6 100%);
      border: 1px solid #f6f6f720;
      box-shadow: none;
    }
  }

  .stationCard {
    .title {
      color: #ffffff;
    }
    .time,
    .address {
      color: #a9a9a9;
    }
  }
  .header-title {
    color: #fff;
  }
}
